.DS_Store
.DS_Store?

target
bin
logs
.java-version

# Emacs & VIM & Git
*~
*.swp
*.swo
*.orig

# Eclipse & Sublime & IntelliJ
.settings
.metadata
.project
*.sublime-*
*.iml
*.eml
.idea/**
.vscode/**
.vs/**

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Test specs
src/test/webapp/specs.json
src/test/nightwatch/reports
src/test/nightwatch/selenium-debug.log

# JS & Node
node_modules
npm-debug.log
coverage
junit.xml
.babelrc-dev
.babelrc-mocha
.nyc_output
*.sqlite
nyc_coverage

# Terraform
*.tfstate
*.tfstate.*
*.temp_credentials
*.terraform
*.lock

# Terraform Secrets
**/secretsmanager/**/terraform.tfvars

# webpack
src/main/webapp/studio/build

# Docs
.out/
.jsdoc/
